.difficultyContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid #ffb300;
    border-radius: 10px;
    padding: 2px 10px;
}

#canvasContainer {
    margin: auto;
    grid-column: 1 / 4;
}

.controlsContainer {
    display: flex;
}

.startGameContainer {
    width: 100%;
}

.controlsContainer > div {
    margin: 20px;
}

.controlsContainer > div > div {
    display: flex;
    font-size: 0.75em;
    margin-top: 10px;
}

#newPuzzle, #reshuffle, #customImage {
    width: 100%;
}

.scoreContainer {
    padding: 30px;
    text-align: center;
}

.scoreContainer > span {
    display: inline-block;
    margin-left: 10px;
}

.categories {
    height: 40px;
}

#intro {
    margin-top: 15px;
}

#intro > p {
    margin: 0;
    font-size: 0.9em;
}

.hidden {
    display: none !important;
}

nav > a.active {
    border: 1px solid #267fff !important;
    color: #267fff !important;
}

canvas {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */  
}